body {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  background-image: url("https://www.shutterstock.com/image-photo/minimalistic-abstract-gentle-light-blue-250nw-2271654373.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
}
.container {
  width: 300px;
  /* margin: 20px; */
}
h1 {
  text-align: center;
  color: #515151;
}
label {
  font-size: 12px;
  color: #515151;
}
input {
  border: none;
  border-radius: 5px;
  height: 25px;
  width: 250px;
  outline: none;
  background-color: aliceblue;
}
#submit {
  border: none;
  border-radius: 75px;
  background-color: #7eadc4;
  color: #515151;

  width: 150px;
  height: 25px;
  margin: 0 auto;
  margin-left: 25px;
}

.msg {
  margin: 0;
  color: red;
  font-size: 9px;
  line-height: 9px;
}
.error {
  border: 1px solid red;
}
/* .form-control {
} */
.success {
  border: 1px solid green;
}
